@model MainPageVM
@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-10 offset-1">
    <div class="block">
        <div class="title text-center">
            <strong class="d-block">Section Name</strong> <span class="d-block">@Model.SectionSkills.SectionName</span>
            <a asp-area="Admin" asp-controller="Skills" asp-action="SectionNameUpdate" asp-route-id="@Model.SectionSkills.Id" class="btn btn-primary btn-block text-white mt-3 btn-sm"><i class="fas fa-pencil-alt"></i> </a>
            <hr />
            <strong class="d-block">Progres Items</strong>
        </div>
        <div class="table-responsive my-5">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Title</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var item in Model.SkillsProgressBar)
                    {
                        <tr>
                            <td>@item.ProgressTitle</td>
                            <td>@item.ProgressValue</td>
                            <td><a asp-area="Admin" asp-controller="Skills" asp-action="PUpdate" asp-route-id="@item.Id" class="btn btn-primary btn-block text-white btn-sm"><i class="fas fa-pencil-alt"></i> </a></td>
                            <td><a asp-area="Admin" asp-controller="Skills" asp-action="PDelete" asp-route-id="@item.Id" class="btn btn-danger btn-block text-white btn-sm"><i class="fas fa-trash-alt"></i> </a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a asp-area="Admin" asp-controller="Skills" asp-action="PCreate" class="btn btn-success btn-block text-white">Create</a>
        <hr />

        <div class="title text-center">
            <strong class="d-block">Chart Items</strong>
        </div>
        <div class="table-responsive my-5">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Title</th>
                        <th>Value</th>
                        <th>Bar Color</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var item in Model.SkillsChart)
                    {
                        <tr>
                            <td>@item.ProgressTitle</td>
                            <td>@item.ProgressValue</td>
                            <td>@item.BarColor</td>
                            <td><a asp-area="Admin" asp-controller="Skills" asp-action="CUpdate" asp-route-id="@item.Id" class="btn btn-primary btn-block text-white btn-sm"><i class="fas fa-pencil-alt"></i> </a></td>
                            <td><a asp-area="Admin" asp-controller="Skills" asp-action="CDelete" asp-route-id="@item.Id" class="btn btn-danger btn-block text-white btn-sm"><i class="fas fa-trash-alt"></i> </a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <a asp-area="Admin" asp-controller="Skills" asp-action="CCreate" class="btn btn-success btn-block text-white">Create</a>
    </div>
</div>

